<!-- extend base.html -->
{% extends 'admin/admin_base.html' %}

{% block title %}
BCA | Contact
{% endblock %}

{% block body %}
<div class="container p-3">
  <form action="" method="post">
    <div class="form-group py-1">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="form-group py-1">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="form-group py-1">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="3" placeholder="Enter your message"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Send</button>
  </form>

  <div class="row d-flex py-3">
    <span class="lead"><i class="bi bi-telephone mx-3"></i>+977-021-123123</span><br>
    <span class="lead"><i class="bi bi-phone mx-3"></i>+977-9812341234</span><br>
    <span class="lead"><i class="bi bi-envelope mx-3"></i>mail@mail.com</span><br>
  </div>
</div>
{% endblock %}